table, thead, td {
     border: 3px solid black;
}
table {
    width: 80%;
    height: 50px;
    margin-left: 10%;
    margin-right: 10%;
}
thead {
    font-size: 20px;
    font-weight: bolder;
    background-color: grey;
}
tr:nth-child(even) {
    background-color: lightgrey;
}
h1 {
    padding-bottom: 20px;
    margin-left: 8rem;
}