table, thead, td {
     border: 3px solid black;
}
.table {
    margin-left: 80px;
    height: 50px;
    
}
thead {
    font-size: 20px;
    font-weight: bolder;
    background-color: grey;
}
tr:nth-child(even) {
    background-color: lightgrey;
}
h1 {
    padding-bottom: 20px;
    margin-left: 8rem;
}
button {
    box-shadow: 4px 4px grey;
}